body {
    margin: 0;
    padding: 0;
    background-color: #f4efef;
    font: {
        size: 1.1em;
        family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    }
    text-shadow: 0 0 1px transparent;
}

#wrap {
    width: 100%;
    background-color: #fefefe;
    margin: 30px auto;
    padding: 0 2%;
    border: 1px solid #cfc0b8;
}

#footer {
    text-align: center;
    padding: 10px;
    margin: 0;
    border: {
        top: 1px solid #cfc0b8;
        bottom: 1px solid #cfc0b8;
    }
    color: #708888;
    font-size: 0.9em;
    position: relative;
    top: 0;
    left: 0;
    background-color: #e0c8c8;
}
