html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f4efef;
    font: {
        size: 1em;
        family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    }
    text-shadow: 0 0 1px transparent;
    color: #222222;
    overflow-x: hidden;
}

#container {
    width: 75%;
    margin: {
        top: 20px;
        bottom: 0;
        left: auto;
        right: auto;
    }
    padding: 0 10px;
}

#navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}

#content {
    margin: 40px 10px;
    background-color: #fefefe;
    border: 1px solid #cfc0b8;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#footer {
    text-align: center;
    padding: 10px;
    margin: 0;
    border: {
        top: 1px solid #cfc0b8;
        bottom: 1px solid #cfc0b8;
    }
    color: #708888;
    font-size: 0.9em;
    position: relative;
    top: 0;
    left: 0;
    background-color: #e0c8c8;
}

#side_menu {
    width: 180px;
    height: 100%;
    border-right: 1px solid #c0a0a0;
    position: absolute;
    left: -180px;
    top: 0;
    background-color: #e0c8c8;
}
